Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/*/Binaries/
Plugins/*/Intermediate/
/Plugins/UnLua/Source/UnLuaDefaultParamCollectorUbtPlugin/obj

.vscode
.vs
*.VC.db
*.opensdfAdd commentMore actions
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace